/* SignUpScreen.css */
.signup-container {
    width: 700px;
    margin: 50px auto;
    padding: 20px;
}

.stepper {
    padding: 20px;
    width: 100%;
    border-bottom: 5px solid white;
    box-shadow: rgb(237, 236, 236) 3px 3px 6px 0px inset, rgb(255, 255, 255) -3px -3px 6px 1px inset;
    height: 150px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e0e0e0;
}

.filled {
    background: #5cb85c;
}

.navigation-buttons {
    align-self: flex-start;
    margin-top: 20px;
    width: 100%;
}

input {
    display: block;
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 100%;

}


.inputDiv {
    background-color: rgba(246, 246, 246, 0.482);
}

.shoeFormHeaderDiv {
    width: 100%;
    padding: 8px;
    border-bottom: 5px solid white;
    background-color: rgba(242, 242, 242, 0.42);
    box-shadow: rgb(249, 249, 249) 3px 3px 6px 0px inset, rgba(243, 243, 243, 0.5) -3px -3px 6px 1px inset;
    display: flex;
    justify-content: center;

}


.shoeFormStepperDiv {
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
    margin: 0 270px;

}

.formShoeStepperDivMain{
    display: flex;
    justify-content: center;
}


.shoeFormLabelsDiv {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}


.formCaseDiv {
    grid-column: 1 / span 2;
    width: 100%;

}


.inputShoeFormDiv {
    width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
}


.caseOneDiv {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    float: left;
}

#create-shoe-form {
    padding: 20px;
    border-top: 5px solid white;
    box-shadow: rgb(246, 245, 245) 3px 3px 6px 0px inset, rgba(240, 240, 240, 0.5) -3px -3px 6px 1px inset;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
