.listTr {
    background-color: rgb(0, 0, 0);
    color: white;
}

.listTable {
    background-color: rgba(155, 155, 155, 0.673);
}
.container1 {
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
    padding-top: 2em;
    width: 100%;
    max-width: 100%;
    overflow-x: auto ;
}

.cardContainer {
    color: black;
    background-color: white;
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 1em;
    border-radius: 10px;
}


.brandContainer {
    display: flex;
    justify-content: center;
}


.categoryContainer {
    display: flex;
    justify-content: center;
}


.priceContainer {
    display: flex;
    justify-content: center;
}


.sizeContainer {
    display: flex;
    justify-content: center;
}



.colorContainer {
    display: flex;
    justify-content: center;
}


.name {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 2em;
    border-bottom: 3px solid grey;
    margin-bottom: 20px;

}


.nameDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 1.4em;
    margin-top: 2em;

}


.skuContainer {
    display: flex;
    justify-content: center;
}


.imgCard {
    border: .11em solid rgb(255, 255, 255);
    border-radius: 2em 2em;
}

.imgContainer {
    min-width: 200px;
    /* Adjust as per your requirement */
}

.tableHead {
    border: 1px solid rgb(255, 255, 255);
    justify-content: center;
    color: white;
}


.tableBody {
    border: 1px solid rgb(255, 255, 255);
    color: white;
}


.headTR {
    border: 1px solid rgb(255, 255, 255);
}


.bodyTR {
    border: 1px solid rgb(255, 255, 255);
}


.tableData {
    padding: .5em;

}


.headData {
    justify-content: center;
}


.product .box {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0;
    padding: 1em;
}



.product .boxesDiv {
    min-width: 500px;
    height: 0 auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-gap: 0 1em;
    padding: 1em;
    background-color: rgb(255, 255, 255);
}


.product .card {
    min-width: 200px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    background-color: transparent;
}


.product .card2 {
    padding-top: 2em;
    min-width: 220px;
    text-align: center;
    background-color: white;

}



.shoeInfo {
    float: center;
    background-color: rgba(237, 237, 237, 0.799);
    padding: 20px;
    height: fit-content;
}

.product .boxesDiv {
    grid-template-columns: 6fr 4fr;


}

.image1 {
    max-width: 100%;
    height: auto;
    margin-bottom: 4.7em;
    margin-top: 10em;
}

hr {
    width: 100px;
    margin: 10px auto;
    border-color: grey;
}

.image1Div {
    display: flex;
    justify-content: center;
}



.description {
    padding: 0 1em 0 1em;

}
.shoeDetailsDiv {

    display: flex;
    justify-content: center;
}

.shoeDetails {
    padding: 0 1em 0 1em;
    font-weight: bold;
    font-size: 3em;
    border-bottom: 3px solid;
    border-image: repeating-linear-gradient(to bottom right, #00f2ff,
    #031fb8d7,
    rgb(0, 200, 255),
    rgb(0, 47, 255),
    rgb(0, 221, 255)) 20;
}

.product h1 {
    margin-top: 0;
    margin-bottom: .4em;
    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(to top, #070707, #393939d7, rgb(0, 0, 0), rgb(77, 77, 77));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 8px solid;
    padding: 10px;
    border-image: repeating-linear-gradient(to bottom right,
            #ffffff,
                #ffffff,
                rgb(255, 255, 255),
                rgb(255, 255, 255),
                rgb(255, 255, 255)) 15;
}

.h1Container {
    margin-top: 0;
    background-color: rgb(228, 227, 227);
}


.tab-section {
    min-width: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 4em;
}


.tab-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}


.detailMainDiv {
    width: 100%;
    height: 100%;
    padding: 3em 18em 5em 18em
}


.tab-item {
    padding: 10px 20px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    color: #777;
    transition: background-color 0.3s;
}


.tab-item:hover {
    background-color: #f5f5f5;
}


.tab-item.active {
    color: #333;
    background-color: #fff;
    border-bottom: 3px solid #0107b9;
}


.tab-content {
    padding: 20px;
    background-color: #fff;
}


.leaveAReview {
    display: grid;
    justify-content: left;
    padding: .5em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.averageReviewAllDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.averageReviewAll {
    display: flex;
    justify-content: left;
}

.averageNameAndReview {

}

.averageReviewAllButton {
    margin-bottom: 1em;
    font-size: 1em;
    max-width: fit-content;
    white-space: nowrap;
    padding: .3em;
}


.newReviewDiv {
    display: flex;
    justify-content: left;
    padding-left: 0;
    margin-left: 0;
}

.newReviewForm {
    font-size: 20px;
    border-bottom: 1px solid white;
}
.reviewsShoe {
    padding: .5em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.162);
    margin-bottom: .5em;
}

.reviewsShoeName {
    border-bottom: 1px solid black;
}

.reviewsShoeNameDiv{
    display: flex;
    justify-content: left;
}

.reviewsShoeDescriptionDiv {
    border: 1px solid rgba(198, 198, 198, 0.413);
    box-shadow: 0px 0px 10px rgba(147, 147, 147, 0.1);
    height: 10vh;
    width: 100%;
}

.tableData {
    font-size: 15px;
    color: rgb(65, 65, 65);
}

.hr {
    margin-bottom: 10px;
}
.tableDataHeader {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.258);
    font-size: 22px;

}
.tableDataDiv {
    display: grid;
    grid-template-columns: 1fr;
}

.tableDataHeaderDiv {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}
